body{
    /* background:url(../src//images/painting-mountain-lake-with-mountain-background.jpg); */
    background-color: rgb(255,255 ,255 );
    background-size:cover;
    background-repeat: no-repeat;
}